<div id="memory"></div>
<form>
  <label>Anzahl Versuche:</label>
  <input id="anzVersuche anzahlVersuche" type="text" readonly="readonly"><br /><br />
  <div id="neuesSpiel">
  <%= button_to "Neues Spiel, neues Glück!", memory_memory_path %>
  </div>
</form>
<br />

<!-- <img src="/images/tile0_1.gif" alt="01" /> -->










