<div id="memory"></div>
<form>
  <label>Anzahl Versuche:</label>
  <input id="anzahlVersuche" type="text" readonly="readonly">
  <input type="button" value="Neues Spiel, neues Glück!" id="neues Spiel">
</form>
<br />
<hr />











