
<div id="memory"></div>
<form>
  <label>Anzahl Versuche:</label>
  <input id="anzahlVersuche" type="text" readonly="readonly"><br /><br />
  <!-- <input type="button" value="Neues Spiel, neues Glück!" id="neuesSpiel"> -->
  <div id="neuesSpiel">
  <%= button_to "Neues Spiel, neues Glück!", memory_memory_path %>
  </div>
</form>
<br />
<hr />

<!-- <img src="/images/tile0_1.gif" alt="01" /> -->










