<h1>Hello, it's me!</h1>
<p>I'm Denise and I like to code.</p>
<p>I like Ruby and Rails and CSS and cats.</p>
<p>Although the sun shines I'm working at my computer to improve my skills.</p>
<p>Yes, you can call me a nerd. : )</p>

<h1>Erste Versuche mit erb:</h1>
<p>Schleife von 0 bis 5:<br />
<% (0..5).each do |i| %>
<%= "#{i}, " %>
<% end %>
</p>


<p>
Die aktuelle Uhrzeit ist
<%= @current_time %>
</p>


